:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0;
  background: rgba(47,82,39,0.7679446778711485) url('../public/1691072860924.gif');
  background-size: 120% 100%;  /* Ajusta el tamaño del fondo */
  background-position: center;  /* Centra el fondo */
  background-repeat: no-repeat;  /* Evita que el fondo se repita */
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

h2{
  /* ponemos la letra color blanco */ 
  color: #ffffff;
}

nav {
  background: rgb(37, 158, 10);
  padding: 10rem;
}

.navbar-mio {
  background: rgb(37, 158, 10);
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.fondo-boton-rojo {
  background: rgb(219, 17, 17);
}

.fondo-boton-negro {
  background: #1a1a1a;
}

.tablas {
  color: #1a1a1a;
  font-size: 1.2em;
}

.tablas .button {
  background-color: #ff0000;
}

.form-button-container {
  display: flex;
  gap: 1rem; /* Aumenta el espacio entre los botones */
  justify-content: flex-end; /* Alinea los botones a la derecha dentro del contenedor */
  margin-top: 1rem; /* Añade margen superior */
}

.form-button {
  margin: 5px 2px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.form-label {
  color: #f9f9f9;
}

.form-check-label {
  color: #f9f9f9;
}

.form-check-input.custom-checkbox:checked {
  background-color: rgba(0, 128, 0, 0.658);
  border-color: green;
}

